[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
frozen-flask = "*"
pytest = "*"
uwsgi = "*"
requests = "*"
flask-oauthlib = "*"
slackclient = "*"
flask-sqlalchemy = "*"
lektor = "*"
