{% extends "layout.html" %}
{%block css%}
<style>
  tr:nth-child(even) {background-color:#dddddd;}
  tr.title {background-color:#ffffff; font-weight:bold;}
  
  td.basic {background-color:DarkGreen;}
  td.intermed {background-color:Orange;}
  td.higher {background-color:OrangeRed;}
  td.adv {background-color:Red;}
  
  
</style>
{%endblock%}
{%block content%}
<table>
<th><td colspan=3>RCoA CCT in Anaesthetics 2010 Curriculum</td></th>
<tr class=title><td colspan=3>Annex A - Professionalism in Medical Practice</td></tr>
<tr><td></td><td>CC_D3_01</td><td>Commits to the importance of being a good team member, working collaboratively, striving for high standards by all</td></tr>
<tr><td></td><td>CC_D5_03</td><td>Commits to the principle of inter-professional cooperation for audit/quality improvement projects in improving practice</td></tr>
<tr><td></td><td>CC_D5_04</td><td>Commits to contributing to quality improvement processes</td></tr>
<tr><td></td><td>CC_D9_01</td><td>Commits to behaving in accordance with the principles of medical ethics</td></tr>
<tr><td></td><td>CC_D9_02</td><td>Commits to following the guidance given by the GMC on confidentiality</td></tr>
<tr><td></td><td>CC_D9_03</td><td>Commits to the principle of the Caldicott Guardian and Information Governance</td></tr>
<tr><td></td><td>CC_D12_03</td><td>
Commits to understanding, and incorporating into practice, issues surrounding data collection and analysis
</td></tr>
<tr><td></td><td>CC_D12_05</td><td>
Commits to understanding the ways in which data, information and knowledge come together in the development of guidelines, protocols and care pathways
</td></tr>
<tr class=title><td colspan=3>&nbsp;</td></tr>
<tr class=title><td colspan=3>Annex G - Teaching and Training, Academic and Research (including Audit), Quality Improvement, and Management</td></tr>
<tr><td class=basic>&nbsp;</td><td>AR_BK_05</td><td>Understands the steps involved in completing the audit cycle</td></tr>
<tr><td class=basic>&nbsp;</td><td>AR_BK_06</td><td>Understands the different methods of obtaining data for audit including patient feedback questionnaires, hospital sources and national reference data</td></tr>
<tr><td class=basic>&nbsp;</td><td>AR_BK_07</td><td>Understands the role of audit including but not exclusively improving patient care and services, risk management etc</td></tr>
<tr><td class=basic>&nbsp;</td><td>AR_BK_10</td><td>Outlines the difference between audit and research</td></tr>
<tr><td class=basic>&nbsp;</td><td>AR_BS_10</td><td>Contributes data to local or national audit</td></tr>
<tr><td class=basic>&nbsp;</td><td>AR_BS_11</td><td>Describes the Plan, Do, Study, Act (PDSA) audit cycle and takes an audit through the first steps</td></tr>
<tr><td class=basic>&nbsp;</td><td>AR_BS_12</td><td>Demonstrate presentation skills to a live audience including the planning and preparation of the presentation</td></tr>
<tr><td colspan=3>&nbsp;</td></tr>
<tr><td class=intermed>&nbsp;</td><td>AR_IK_04</td><td>Understands the links between audit and quality improvement</td></tr>
<tr><td class=intermed>&nbsp;</td><td>AR_IK_07</td><td>Knows about local and national research guidelines</td></tr>
<tr><td class=intermed>&nbsp;</td><td>AR_IK_08</td><td>Demonstrates a knowledge of research principles</td></tr>
<tr><td class=intermed>&nbsp;</td><td>AR_IS_03</td><td>Supports audit by junior medical trainees and within the multidisciplinary team</td></tr>
<tr><td class=intermed>&nbsp;</td><td>AR_IS_04</td><td>Suggests ideas for local audit</td></tr>
<tr><td colspan=3>&nbsp;</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HK_01</td><td>Understands their role in supporting quality through participating in and promoting audit</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HK_02</td><td>Understands the ethical issues relating to audit</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HK_03</td><td>Know the principles of research governance</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HS_05</td><td>Designs, implements and completes audit cycles</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HS_07</td><td>Identifies problems and develops standards for local audit</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HS_08</td><td>Proposes and tests ways to improve patient care</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HS_09</td><td>Compares the results of an audit with criteria and standards to reach conclusions</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HS_11</td><td>Undertakes a literature review in relation to a clinical problem or topic and presents the same</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HS_12</td><td>Encourages discussion amongst colleagues in evidence-based practice</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HS_13</td><td>Uses the findings of an audit to develop and implement change</td></tr>
<tr><td class=higher>&nbsp;</td><td>AR_HS_14</td><td>Contributes to local and national audit projects as appropriate </td></tr>

<tr><td colspan=3>&nbsp;</td></tr>
<tr><td class=adv>&nbsp;</td><td>AR_AK_06</td><td>Presents clinical and academic work at deanery and national scientific meetings where possible submitting reports for presentation or posters</td></tr>
<tr><td class=adv>&nbsp;</td><td>AR_AK_07</td><td>Knows how to produce a poster summarising a project for presentation</td></tr>
<tr><td class=adv>&nbsp;</td><td>AR_AK_08</td><td>Understands material specifically related to their ‘project’</td></tr>
<tr><td class=adv>&nbsp;</td><td>AR_AS_01</td><td>Contributes to the development of local and national clinical guidelines and protocol</td></tr>
<tr><td class=adv>&nbsp;</td><td>AR_AS_02</td><td>Champions practice change supported by audit</td></tr>
<tr><td class=adv>&nbsp;</td><td>AR_AS_04</td><td>Leads a complete audit cycle including development of conclusions, the changes needed for improvement, implementation of findings and re-audit to assess effectiveness of changes</td></tr>
<tr><td class=adv>&nbsp;</td><td>AR_AS_05</td><td>Shows willingness to encourage and take part in research</td></tr>
<tr><td class=adv>&nbsp;</td><td>AR_AS_06</td><td>Applies for appropriate ethical research approval</td></tr>
<tr><td class=adv>&nbsp;</td><td>AR_AS_10</td><td>Attends relevant national and international meetings</td></tr>
</table>
{%endblock%}
