{% extends "layout.html" %}

{%block content%}
<h2> Committee </h2>

The organisation is led by a committee of its members:

<h3> Chairperson </h3> 
<a href="Yvonne Bramma">TBC</a> <a href="mailto:chair@wostraq.net">Contact</a>
Chairs committee meetings, steers development of the organisation, communicates with RAFT

<h3> Secretary </h3>
<a href="Claire McCue">TBC</a> <a href="mailto:secretary@wostraq.net">Contact</a>
Records and distributes minutes for committee meetings, monitors WOSTRAQ email accounts.

<h3>Database manager</h3>
<a href="John Gardner">TBC</a> <a href="mailto:db_manager@wostraq.net">Contact</a>
Obtain license for use of Redcap software and server to host the database, manage the database once set up

<h3>IT Lead/Webmaster</h3>
<a href="Daniel Silcock">TBC</a> <a href="mailto:webmaster@wostraq.net">Contact</a>
Set up and manage WOSTRAQ website and social media accounts

<h3>Trainee communication lead</h3>
<a href="#">Gemma Scotland</a> <a href="mailto:traineecomms@wostraq.net">Contact</a>
Communication link between trainee members and the committee

<h3>Consultant communication lead</h3>
<a href="#">Clare Currie</a> <a href="mailto:conscomms@wostraq.net">Contact</a>
Communication link between consultants and the committee

{%endblock%}
