{% extends 'layout.html' %}

{%block content %}
<h2> Welcome to WOSTRAQ </h2>
WOSTRAQ are a group of anaesthetists in training, set up in order to facilitate collaborative, multi-centre audit and research in anaesthesia within the NHS hospitals in the West of Scotland.

WOSTRAQ are part of the <a href="https://www.raftrainees.com/"> Research and Audit Federation of Trainees (RAFT). </a>

We aim:
<ul>
<li> To establish a regional network of anaesthetic trainees to conduct multi-centre research, audit and quality improvement </li>
<li> To improve the quality and impact of audit and quality improvement projects in the West of Scotland. </li>
<li> To allow trainees to continue their involvement in research and audit projects as they migrate around the deanery. </li>
<li> To build partnerships between anaesthetic departments in the West of Scotland, with the overall aim of working together towards improving the quality of patient care. </li>
<li> To participate in national audit and research projects and to attract national funding for research and audit work. </li>
</ul>
<hr>
For more information please <a href="mailto:committee@wostraq.net">contact the committee</a> or read the <a href="/assets/constitution.pdf"> WoSTRAQ Constitution </a>
<div class="col-md-6">
          <a href="https://twitter.com/wostraq" class="twitter-follow-button" data-show-count="false">Follow @WoSTRAQ on Twitter</a>
          <a class="twitter-timeline" href="https://twitter.com/wostraq">Tweets by WoSTRAQ</a>
          <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
{%endblock%}
