{% extends "layout.html" %}

{%block content%}
<h2>Project proposals</h2>

These are the proposals for our next project. If you have registered as a WoSTRAQ member then you should have received your unique voting link by email. If not, then please contact the committee at <a href="mailto:committee@wostraq.net">committee@wostraq.net</a> as soon as possible.<br/>
If you have not registered as a WoSTRAQ member and wish to do so, then you can still register <a href="{{url_for('content.join_us')}}">here</a>
<hr>
<h4>Voting closes at midnight on Wednesday 18th July</h4>
<hr>
<h3>Lung protective ventilation</h3>

Lung protective ventilation is common practive in ITU but is less often a consideration in the theatres setting. This study aims to assess whether we are exposing our patients to postoperative pulmonary complications by inadvertent overventilation.<br/>

This would be a snapshot audit of the prescribed tidal volumes (TV) and PEEP levels set by anaesthetists in theatre. Data can be collected by a trainee going into theatres once steady state has been achieved and using figures from ventilators. 
All intubated patients should be included over a 1-2 day period. Other data required will include patient age, sex, height, and weight. This will allow us to calculate ideal body weight and compare the TV prescribed to the ml/kg of ideal body weight.<br/>

Ultimately we can work out the average ideal TV across the region and adjust default ventilator settings in order to accurately reflect the ideal body weight of our population.<br/>

Lung protective ventilation is common practice in ITU but is less often a consideration in the theatres setting. We may be exposing our patients to postoperative pulmonary complications by inadvertent overventilation<br/>


<hr />
<h3>Critical incidents</h3>

This project is based on one from the <a href="https://www.rcoa.ac.uk/system/files/CSQ-ARB-2012_0.pdf#page=369">RCoA Audit Recipe Book (p 369)</a><br/>

Equipment failure and human error, or commonly both, may cause a critical incident. However, there is substantial under-reporting of both incidents leading to harm and near misses.  The use of a mandatory system for reporting adverse events, mishaps and errors was recommended by the Department of Health in <em>An organisation with a memory</em> and <em>Building a safer NHS for patients</em>. This study aims to quantify the level of critical incident under-reporting in local practice<br/>

Critical incidents would be recorded by a short intensive audit of every operating list. Anaesthetists would be required to confirm the absence of a critical incident, under headings to include disconnections, wrong drug, wrong dose, wrong route, equipment or monitoring failure, adverse physiological event, etc. This might have the dual effect of increasing awareness of critical incident reporting and revealing a critical incident rate closer to the real rate than that suggested by reports submitted via the Datix system.<br/>

Data to be collected would include recently reported critical incidents and records of previous M+M meetings. This would allow an estimate of the proportion of anaesthetics resulting in a critical incident report - the various departments should have a record of how many anaesthetics were delivered in a given month from theatre logs.<br/>

Following this the 2 week intensive audit could be followed by a questionaire asking if people think it is relevant and if there should perhaps be more frequent discussion about near misses/root cause analysis. Due to the relatively low prevalence of critical incidents the audit would need to be run over a number of days to generate adequate numbers, but running this as a network would enable generating useful numbers by running multiple sites simultaneously.<br/>

<hr />
<h3>Postoperative Cognitive Impairment</h3>

Post-operative cognitive impairment (POCI) is a major contributor to morbidity in older patients undergoing surgery.  AAGBI guidance states that patients at risk of POCI should be screened pre-operatively and that multi-modal intervention strategies should be used to reduce the risk. This study aims to gain insight into current anaesthesia practices surrounding postoperative cognitive dysfunction<br/>

Cognitive dysfunction is an incredibly important aspect of perioperative medicine and leads to increased morbidity and mortality. We believe we are under-reporting or screening, and that a regional audit will be helpful to inform practice and assist with guideline development for patients with pre-existing cognitive dysfunction on anticholinesterases requiring adjustment of anaesthetic technique.<br/>

The aims of this project would be to:

<ol>
	<li>Gain insight into current practice in anaesthetic care for older people in the West of Scotland.</li>
	<li>Estimate prevalence of anticholinesterase use for dementia and assess how these drugs influence anaesthetic technique.</li>
	<li>Identify areas for improvement or education in the care of older people, with specific focus on prevention of POCI.</li>
</ol>


Anaesthetic charts and notes (mainly preop booklet where 4AT recorded) of every patient >65 years old having anaesthetic on nominated days would be reviewed by one or more data collectors at each site over 1-3 days.<br/>

Collected data would include age, gender, evidence of a pre-operative cognition assessment (4AT, MMSE or similar), presence of preop cognitive impairment, preoperative anticholinesterases for dementia, surgical acuity, 
speciality, anaesthetic technique (GA, regional etc), and use of drugs known to precipitate delirium (such as benzodiazepines)<br/>
{%endblock%}
