{% extends "layout.html" %}

{%block body%}
<h2> Committee </h2>

The organisation is led by a committee of its members:

<h3> Chairperson </h3> 
{{this.chair}} 
<a href="mailto:chair@wostraq.net">Contact</a><br>
Chairs committee meetings, steers development of the organisation, communicates with RAFT

<h3> Secretary </h3>
{{this.secretary}}
<a href="mailto:secretary@wostraq.net">Contact</a><br>
Records and distributes minutes for committee meetings, monitors WOSTRAQ email accounts.

<h3>Database manager</h3>
{{this.db_manager}}
<a href="mailto:db_manager@wostraq.net">Contact</a><br>
Obtain license for use of Redcap software and server to host the database, manage the database once set up

<h3>IT Lead/Webmaster</h3>
{{this.webmaster}}
<a href="mailto:webmaster@wostraq.net">Contact</a><br>
Set up and manage WOSTRAQ website and social media accounts

<h3>Trainee communication lead</h3>
{{this.traineecomms}}
 <a href="mailto:traineecomms@wostraq.net">Contact</a><br>
Communication link between trainee members and the committee

<h3>Consultant communication lead</h3>
{{this.conscomms}}
<a href="mailto:conscomms@wostraq.net">Contact</a><br>
Communication link between consultants and the committee

{%endblock%}
